<a href="https://colab.research.google.com/github/joannediaz04/ADVANCED-DATA-VISUALIZATION-LAB-3/blob/main/ADVANCED_DATA_VISUALIZATION_LAB_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# add two integers together
Add = 1 + 1
print(Add)

2

In [2]:
#subtract two integers together
Subtract = 2-1
print(Subtract)

1

In [3]:
# add two integers together
Divide = 129/2
print(Divide)

64.5

In [4]:
# This operator raises the number to its left to the power of the number to its right
Exponent = 2**4
print(Exponent)

16

In [6]:
# Multiplication
Multiply = 2*3
print(Multiply)

6

In [7]:
# the modulo (%) operator returns the remainder of the division of the number to the left by the # number to the right
Remainder = 20%3
print(Remainder)

2

In [8]:
a = 10
b = 10
if a==b:
    print("a equals b")

a equals b

In [14]:
a = 10
b = 8
if a < b:
   print("a is less than b")

In [15]:
a = 12
b = 12
if a > b:
   print("a is greater than b")
else:
   print("a is not greater than b")

a is not greater than b

In [17]:
a = 13
b = 12
if a > b:
   print("a is greater than b")
elif a == b:
   print("a is equal to b")
else:
   print("a is less than b")

a is greater than b

In [19]:
a = 10
b = 10
if a != b:
    print("a does not equal b")

In [20]:
(1 + 1) == (True + True)

True

In [21]:
num=3;
if num==3:
    print(num)

3

In [24]:
num = 3
if num > 10:
  print(num)

In [23]:
num = 3
if num %3 == 0:
    print("Fizz")

Fizz

In [25]:
num = 10
if num % 5 == 0:
  print("Buzz")

Buzz

In [26]:
num = 4
print(num > 0 and num < 15)

True

In [29]:
if num > 0 and num < 15:
 print(num)

4

In [30]:
num = 4
num > 0 or num > 15

True

In [33]:
num = 4 
print(num > 0 and num < 15)

True